
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');




* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

::-webkit-scrollbar {
    background: transparent;
    width: 5px;
    height: 5px;
}
.order-heading h4 {
    font-weight: 600;
}
::-webkit-scrollbar-thumb {
    background-color: #888;

    &:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

body {
    background-color: #2a2b3d;
}
.profile-wrapper.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
}

.dashboard-profile form.form-inline.my-2.my-lg-0 {
    padding-bottom: 10px;
}
.margin {
    margin-left: 0 !important;
}

/* Start side navigation bar  */

ul.categories li i.fa {
    margin-right: 20px;
    color: #556EE6;
}
.trending span {
    margin-right: 5px;
    color: #00B69B;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}
.side-nav .categories > li:hover i.fa {
    color: #fff;
}
.side-nav {
    height: 100%;
   
    background-color: #fff;
    color: #ccc;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: 0.3s;
    position: fixed;
   
    top: 0;
    bottom: -120px;
    z-index: 1;

    overflow: auto;
  
    .close-aside {
        position: absolute;
        top: 7px;
        right: 7px;
        cursor: pointer;
        color: #eee;
    }

    .heading {
        background-color: #fff;
        padding: 15px 15px 15px 30px;
        overflow: hidden;
       margin-top:80px;

        > img {
            float: left;
            width: 44px;
            height: 44px;
            border-radius: 44px;
        }
    }

    .info {
        float: left;
        width: 69%;
        margin-left: 3%;
    }
  
    .heading .info > {
        h3 {
            margin: 0 0 5px;

            > a {
                color: #000;
                font-weight: 600;
                margin-top: 4px;
                display: block;
                text-decoration: none;
                font-size: 16px;

                &:hover {
                    color: #667deb;
                }
            }
        }

        p {
            color: #bbb;
            font-size: 13px;
        }
    }

    .search {
        text-align: center;
        padding: 15px 30px;
        margin: 15px 0;
        position: relative;

        > input {
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #23262d;
            padding: 7px 0 7px;
            color: #ddd;

            ~ i {
                position: absolute;
                top: 22px;
                right: 40px;
                display: block;
                color: #2b2f3a;
                font-size: 19px;
            }
        }
    }

    .categories > li {
        padding: 17px 40px 17px 30px;
        overflow: hidden;
        border-bottom: 1px solid rgba(255, 255, 255, 0.02);
        cursor: pointer;
        margin: 7px 5px;

        > a {
            color: #aaa;
            text-decoration: none;

            > .num {
                line-height: 0;
                border-radius: 3px;
                font-size: 14px;
                color: #fff;
                padding: 5px;
                margin-left: 50px;
            }
        }
    }
}

.side-nav .categories > li:hover a {
    color: #fff !important;
}
.logout button {
    background: transparent;
    border: none;
    outline: none;
    color: #808191;
}
.logout {
    text-align: right;
    padding: 0 50px 20px;
}
/* End heading */
/* Start search */

/* End search */

/* Start num: there are three options primary, danger and success like Bootstrap */

.dang {
    background-color: #ff754c;
}

.prim {
    background-color: #ff754c;
}

.succ {
    background-color: #ff754c;
}

/* End num */

.side-nav .categories {
    > li > {
        a {
            color: #808191;
        }

        i {
            font-size: 18px;
            margin-right: 5px;
        }

        //   a:after {
        //     content: "\f053";
        //     font-family: fontAwesome;
        //     font-size: 11px;
        //     line-height: 1.8;
        //     float: right;
        //     color: #AAA;
        //     -webkit-transition: all .3s ease-in-out;
        //     -moz-transition: all .3s ease-in-out;
        //     transition: all .3s ease-in-out;
        //   }
    }

    .opend > a:after {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .side-nav-dropdown {
        padding-top: 10px;
        padding-left: 30px;
        list-style: none;
        display: none;

        > li > a {
            color: #aaa;
            text-decoration: none;
            padding: 7px 0;
            display: block;
        }
    }

    p {
        margin-left: 30px;
        color: #808191;
        margin-top: 10px;
    }
}

.product-table .table td,
.table th {
    vertical-align: middle !important;
}

.side-nav .categories > li:hover {
    background: #556ee6;

    border-radius: 20px;
    color: #fff;
}
/* End categories */
/* Start dropdown menu */

/* End dropdown menu */

.show-side-nav {
    -webkit-transform: translateX(-290px);
    -moz-transform: translateX(-290px);
    transform: translateX(-290px);
}

.follower h3 {
    color: #202224;
    opacity: 0.7;
    font-size: 16px;
    line-height: 24px;
}

form.form-inline.my-2.my-lg-0 input {
    background: #f2f4ff;
    width: 50%;
    box-shadow: none;
    border-radius: 10px;
    margin-top: -40px;

    border-color: #f2f4ff;
    padding: 20px;
    font-size: 12px;
}
tr.tb-tnx-item span {
    font-weight: 500;
}
span.amount button.btn {
    border-radius: 20px;
}
.follower {
    h3 {
        color: #202224;
    }

    span {
        font-weight: 600;
        color: #202224;
        font-size: 25px;
        line-height: 42px;
    }
}
.shop-text h4 {
    color: #000;
    font-weight: 600;
}

.see a {
    color: #000;
    font-weight: 600;
    font-size: 18px;
}


@media(max-width:2550px) {

    .chart-1 .chart-container {
        height: 410px!important;
    }


}
@media(max-width:1920px) {

    .chart-1 .chart-container {
        height: 365px !important; 
    }

}



/* Start media query */
@media (max-width: 767px) {
    .side-nav {
        .categories > li {
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .search {
            padding: 10px 0 10px 30px;
        }
    }
}

/* End side navigation bar  */
/* Start welcome */

.welcome {
    color: #ccc;
   
    padding: 10px;

    .content {
        background-color: #e9eefc;
        padding: 70px;
        border-radius: 20px;
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    h2 {
        font-weight: 600;
        margin: 0;
        color: #000;
    }
}

.greet-msg {
    max-width: 400px;
}

.img-wel {
    position: absolute;
    right: 170px;
    top: -34px;
}
.img-wel img {
    width: 400px;
    height: 300px;
}
section#contents {
    background-color: #e9eefc47;
    padding-left: 50px;
}
.cus-12 .ant-card-body {
    background-color: #e9eefc47;
    padding: 0;
}
.greet-msg span {
    background: #667deb;
    padding: 4px 20px;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    border-radius: 4px;
}

.welcome p {
    color: #999;
}

/* Start statistics */

.statistics {
    margin-top: 25px;
    color: #ccc;

    .box {
        background-color: #fff;
        padding: 15px;
        overflow: hidden;
        box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
        border-radius: 14px;

        > i {
            float: left;
            color: #fff;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 22px;
        }

        .info {
            display: flex;
            width: auto;
            justify-content: space-evenly;
        }
    }
}

.box-img {
    margin-right: 10px;
}

.shop-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistics .box .info h3 {
    margin: 5px 0 5px;
   
}

.trending {
    p {
        margin: 0;
        color: #202224;
    font-size: 14px;
    white-space: nowrap;
       
        font-weight: 600;
        opacity: 0.6;
        
    }

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.statistics .col-md-3 {
    padding-right: 0;
}
.statistics .box .info p {
    color: #bbb;
}

/* End statistics */
/* Start charts */

.charts {
    margin-top: 25px;
    color: #bbb;

    .chart-container {
        background-color: #fff;
        padding: 15px;
       
        box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
        border-radius: 14px;

        h3 {
            margin: 0 0 10px;
            font-size: 16px;
            opacity: 0.7;
            color: #202224;
            font-weight: 500;
        }
    }
}

/* Start users */

.admins {
    margin-top: 25px;

    .box {
        > h3 {
            color: #ccc;
            font-family: Calibri;
            font-weight: 300;
            margin-top: 0;
        }

        .admin {
            margin-bottom: 20px;
            overflow: hidden;
            background-color: #313348;
            padding: 10px;

            .img {
                width: 20%;
                margin-right: 5%;
                float: left;

                img {
                    border-radius: 50%;
                }
            }
        }

        .info {
            width: 75%;
            color: #eee;
            float: left;

            h3 {
                font-size: 19px;
            }

            p {
                color: #bbb;
            }
        }
    }
}

/* End users */
/* Start statis */

.statis {
    color: #eee;
    margin-top: 15px;
    background: #fff;
    padding: 20px;
    margin: 15px;
    box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
    border-radius: 14px;

    .box {
        position: relative;

        overflow: hidden;
        border-radius: 3px;
        margin-bottom: 25px;

        h3:after {
            content: '';
            height: 2px;
            width: 70%;
            margin: auto;
            background-color: rgba(255, 255, 255, 0.12);
            display: block;
            margin-top: 10px;
        }

        i {
            position: absolute;
            height: 70px;
            width: 70px;
            font-size: 22px;
            padding: 15px;
            top: -25px;
            left: -25px;
            background-color: rgba(255, 255, 255, 0.15);
            line-height: 60px;
            text-align: right;
            border-radius: 50%;
        }
    }
}



/*table*/
.tdb-2 {
    display: flex;
    align-items: center;
}
section.product-table {
    background: #fff;
    padding: 30px;
    margin: 15px;
    box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
}
.product-table .card {
    border: none;
}
.bold {
    font-weight: 700;
    font-size: 18px;
}
tr.tb-tnx-head {
    background: #f1f4f9;
}
.chrt3 {
    padding-bottom: 50px;

    .chart-container {
        height: 350px;
        padding: 15px;
        margin-top: 25px;
    }

    .box {
        padding: 15px;
    }
}

.main-color {
    color: #ffc107;
}

.warning {
    background-color: #f0ad4e;
}

.danger {
    background-color: #d9534f;
}

.success {
    background-color: #5cb85c;
}

.inf {
    background-color: #5bc0de;
}

/* Start bootstrap */

.navbar-right .dropdown-menu {
    right: auto !important;
    left: 0 !important;
}

.navbar-default {
    background-color: #6f6486 !important;
    border: none !important;
    border-radius: 0 !important;
    margin: 0 !important;

    .navbar-nav > li > a {
        color: #eee !important;
        line-height: 55px !important;
        padding: 0 10px !important;
    }

    .navbar-brand {
        color: #fff !important;
    }

    .navbar-nav > {
        li > a {
            &:focus,
            &:hover {
                color: #eee !important;
            }
        }

        .open > a {
            background-color: transparent !important;
            color: #fff !important;

            &:focus,
            &:hover {
                background-color: transparent !important;
                color: #fff !important;
            }
        }
    }

    .navbar-brand {
        line-height: 55px !important;
        padding: 0 !important;

        &:focus,
        &:hover {
            color: #fff !important;
        }
    }
}

.navbar > {
    .container .navbar-brand,
    .container-fluid .navbar-brand {
        margin: 0 !important;
    }
}

@media (max-width: 767px) {
    .navbar > .container-fluid .navbar-brand {
        margin-left: 15px !important;
    }

    .navbar-default .navbar-nav > li > a {
        padding-left: 0 !important;
    }

    .navbar-nav {
        margin: 0 !important;
    }

    .navbar-default {
        .navbar-collapse,
        .navbar-form {
            border: none !important;
        }
    }
}

.navbar-default .navbar-nav > li > a {
    float: left !important;

    > span:not(.caret) {
        background-color: #e74c3c !important;
        border-radius: 50% !important;
        height: 25px !important;
        width: 25px !important;
        padding: 2px !important;
        font-size: 11px !important;
        position: relative !important;
        top: -10px !important;
        right: 5px !important;
    }
}

.dropdown-menu > li > a {
    padding-top: 5px !important;
    padding-right: 5px !important;
}

.navbar-default .navbar-nav > li > a > i {
    font-size: 18px !important;
}

/* Start media query */

@media (max-width: 767px) {
    #contents {
        margin: 0 !important;
    }

    .statistics .box {
        margin-bottom: 25px !important;
    }

    .navbar-default {
        .navbar-nav .open .dropdown-menu > li > a {
            color: #ccc !important;

            &:hover {
                color: #fff !important;
            }
        }

        .navbar-toggle {
            border: none !important;
            color: #eee !important;
            font-size: 18px !important;

            &:focus,
            &:hover {
                background-color: transparent !important;
            }
        }
    }
}

@media (max-width: 767px) {
    .layout--default {
        width: 570px;
    }
    .img-wel {
        position: absolute;
        right: 6px;
        top: -239px;
    }

    .chart-container.mt-12 {
        height: 580px;
    }
    .mt-12 {
        margin-bottom: 120px;
    }

    .welcome .content {
        margin-top: 280px;
    }
    .trending {
        justify-content: left;
    }
    form.form-inline.my-2.my-lg-0 input {
        width: 100%;
    }
}

.order-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

select.form-select {
    padding: 6px;
    border: 1px solid #b1b1b1;
}

#style-7::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
}

#style-7::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
}

#style-7::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.44, rgb(122, 153, 217)),
        color-stop(0.72, rgb(73, 125, 189)),
        color-stop(0.86, rgb(93, 114, 156))
    );
}

.hamburger {
    display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .side-n {
        position: relative !important;
        left: -326px !important;
    }

    .hamburger {
        position: absolute;
        right: 20px;
        z-index: 999;
        font-size: 20px;
        color: #3958ea;
        display: block;
    }
    .img-wel img {
      width: 320px;
      height: 260px;
  }

  .welcome h2 {
  
    font-size: 27px;
}
.order-heading h4 {
    font-weight: 700;
}


}

/* heading and chart */

.welcome h2 {
   
    font-size: 28px!important;
}

.new_h {
    display: flex;
    justify-content: space-between;
    max-width: 340px;
    align-items: center;
    margin-bottom: 20px;
}
.chart-1 .chart-container {
    height: 365px;
}










/***********Header *************/

nav.navbar.navbar-expand-lg i.fa {
    color: #fff;
    font-size: 18px;
}

a.ant-dropdown-trigger img {
    width: 28px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: linear-gradient(to right, #556EE6, #6B21A8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 600px;
    z-index: 99999;
}

.site-card-border-less-wrapper {
    position: relative;
    transition: .3s;
    margin-left: 210px;
}
.header-search.medium--hide {
    width: 65%;
    float: right;
    text-align: center;
    
}

.header-search input#search {
    color: #000000;
}
.header-search input#search {
    color: #000000;
    border-radius: 50px;
    border: 1.5px solid #556EE6!important;
}
 .header-search input#search {
    padding: 10px 0 10px 15px;
    border: 1px solid black;
    width: 50%;
}
.header-search button:hover i.fa {
    color: #000;
}
.header-search button:hover {
    background: #eeee !important;
}
li.nav-item.dropdown img {
    width: 26px;
}


.dropdown-toggle::after {
   
    color: #92929D!important;
}
.header-search button {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #E4E4E8 !important;
    border-color: #556EE9;
}
.search-bar__form button {
    font-size: 18px;
    padding: 0 21px;
    border: none;
    line-height: 35px;
    height: 42px;
    background: none;
    border: none;
    position: absolute;
    top: 2px;
    right: 25%;
}
ul.navbar-nav.ml-auto>li>a span:not(.caret) {
    background-color: #e74c3c !important;
    color:#fff;
    border-radius: 50% !important;
    height: 25px !important;
    width: 25px !important;
    padding: 2px !important;
    font-size: 11px !important;
    position: relative !important;
    top: -10px !important;
    right: 5px !important;
}

.search-bar__form {
    
    position: relative;
}

button.sb-search-submit i.fa {
    color: #808191!important;
}